version: 2
registries:
  gradle-plugin-portal:
    type: maven-repository
    url: https://plugins.gradle.org/m2
    username: dummy # Required by dependabot
    password: dummy # Required by dependabot
updates:
  - package-ecosystem: "maven"
    directory: "build-caching-maven-samples"
    schedule:
      interval: "daily"
  - package-ecosystem: "maven"
    directory: "rollout-maven-extension"
    schedule:
      interval: "daily"
  - package-ecosystem: "maven"
    directory: "common-gradle-enterprise-maven-configuration"
    schedule:
      interval: "daily"
  - package-ecosystem: "gradle"
    directory: "common-gradle-enterprise-gradle-configuration"
    registries:
      - gradle-plugin-portal
    schedule:
      interval: "daily"
  - package-ecosystem: "gradle"
    directory: "gradle-enterprise-conventions-gradle-plugin/plugins/gradle-2-through-4"
    registries:
      - gradle-plugin-portal
    schedule:
      interval: "daily"
  - package-ecosystem: "gradle"
    directory: "gradle-enterprise-conventions-gradle-plugin/plugins/gradle-5-or-newer"
    registries:
      - gradle-plugin-portal
    schedule:
      interval: "daily"
