version: 2
registries:
  gradle-plugin-portal:
    type: maven-repository
    url: https://plugins.gradle.org/m2
    username: dummy # Required by dependabot
    password: dummy # Required by dependabot
updates:
  - package-ecosystem: "maven"
    directory: "build-caching-maven-samples"
    schedule:
      interval: "daily"
      time: "02:00"
  - package-ecosystem: "maven"
    directory: "common-develocity-maven-configuration"
    schedule:
      interval: "daily"
      time: "02:00"
  - package-ecosystem: "gradle"
    directory: "common-develocity-gradle-configuration-groovy"
    registries:
      - gradle-plugin-portal
    schedule:
      interval: "daily"
      time: "02:00"
  - package-ecosystem: "gradle"
    directory: "common-develocity-gradle-configuration-kotlin"
    registries:
      - gradle-plugin-portal
    schedule:
      interval: "daily"
      time: "02:00"
  - package-ecosystem: "gradle"
    directory: "convention-develocity-gradle-plugin/plugins/gradle-5-or-newer"
    registries:
      - gradle-plugin-portal
    schedule:
      interval: "daily"
      time: "02:00"
  - package-ecosystem: "gradle"
    directory: "convention-develocity-gradle-plugin/plugins/gradle-2-through-4"
    registries:
      - gradle-plugin-portal
    schedule:
      interval: "daily"
      time: "02:00"
    ignore:
      - dependency-name: "com.gradle:build-scan-plugin"
  - package-ecosystem: "maven"
    directory: "convention-develocity-maven-extension/extension"
    schedule:
      interval: "daily"
      time: "02:00"
  - package-ecosystem: "gradle"
    directory: "convention-develocity-shared"
    registries:
      - gradle-plugin-portal
    schedule:
      interval: "daily"
      time: "02:00"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
      time: "02:00"
