version: 2
registries:
  gradle-plugin-portal:
    type: maven-repository
    url: https://plugins.gradle.org/m2
    username: dummy # Required by dependabot
    password: dummy # Required by dependabot
updates:
  - package-ecosystem: "maven"
    directory: "common-custom-user-data-maven-extension"
    schedule:
      interval: "daily"
  - package-ecosystem: "maven"
    directory: "common-gradle-enterprise-maven-configuration"
    schedule:
      interval: "daily"
  - package-ecosystem: "maven"
    directory: "maven-build-caching-samples"
    schedule:
      interval: "daily"
  - package-ecosystem: "gradle"
    directory: "common-custom-user-data-gradle-plugin"
    registries:
      - gradle-plugin-portal
    schedule:
      interval: "daily"
