name: Verify Convention Develocity Shared

permissions:
  contents: read

on:
  push:
    branches: [ main ]
    paths: [ 'convention-develocity-shared/**', '.github/workflows/**' ]
  pull_request:
    branches: [ main ]
    paths: [ 'convention-develocity-shared/**', '.github/workflows/**' ]
  workflow_dispatch:

jobs:
  build:
    name: Build Convention Develocity Shared
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Set up JDK 21
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5
      - name: Configure Develocity Solutions instance
        working-directory: convention-develocity-shared/convention-develocity-common/src/main/java/com/myorg
        run: sed -i 's/develocity-samples.gradle.com/ge.solutions-team.gradle.com/g' DevelocityConventions.java
      - name: Build with Gradle
        working-directory: convention-develocity-shared
        run: ./gradlew build publishToMavenLocal
      - name: Upload convention
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: convention-develocity-shared
          path: ~/.m2/repository/com/myorg

  verification_gradle:
    name: Verify Example Build for Gradle ${{ matrix.versions.gradle-version }}
    needs: [build]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        versions:
          - sample: '5'
            gradle-version: '5.0'
            java-version: '8'
          - sample: '6'
            gradle-version: '6.0.1'
            java-version: '8'
          - sample: '6.9_and_later'
            gradle-version: '6.9.4'
            java-version: '8'
          - sample: '6.9_and_later'
            gradle-version: '7.0.2'
            java-version: '11'
          - sample: '6.9_and_later'
            gradle-version: '8.0.2'
            java-version: '17'
          - sample: '6.9_and_later'
            gradle-version: '9.0.0'
            java-version: '21'
          - sample: '6.9_and_later'
            gradle-version: 'wrapper'
            java-version: '21'
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Set up JDK ${{ matrix.versions.java-version }}
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5
        with:
          java-version: ${{ matrix.versions.java-version }}
          distribution: 'temurin'
      - name: Set up Gradle ${{ matrix.versions.gradle-version }}
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5
        with:
          gradle-version: ${{ matrix.versions.gradle-version }}
      - name: Download plugin
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7
        with:
          name: convention-develocity-shared
          path: ~/.m2/repository/com/myorg
      - name: Verify example build
        id: build
        working-directory: convention-develocity-shared/examples/gradle_${{ matrix.versions.sample }}
        run: gradle build "-Dscan.value.gradle-version=${{ matrix.gradle-version }}" "-Dscan.value.java-version=${{ matrix.java-version }}"
        env:
          DEVELOCITY_ACCESS_KEY: ${{ secrets.DV_SOLUTIONS_ACCESS_KEY }}
      - name: Verify Build Scan published
        if: ${{ !steps.build.outputs.build-scan-url }}
        run: echo "::error ::No Build Scan published"; exit 1

  verification_maven:
    name: Verify Example Build for Maven ${{ matrix.versions.maven-version }}
    needs: [build]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        versions:
          - sample: '3'
            maven-version: '3.6.3'
          - sample: '3'
            maven-version: '3.8.8'
          - sample: '3'
            maven-version: '(Current)'
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Set up JDK 8
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5
        with:
          java-version: '8'
          distribution: 'temurin'
          cache: maven
      - name: Set up Maven ${{ matrix.versions.maven-version }}
        uses: gradle/develocity-actions/setup-maven@974e8dbcbda40db6828fc35f349c80a7c0e71529 # v2.1
      - name: Download extension
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7
        with:
          name: convention-develocity-shared
          path: ~/.m2/repository/com/myorg
      - name: Set Maven version ${{ matrix.versions.maven-version }}
        if: ${{ matrix.versions.maven-version != '(Current)' }}
        working-directory: convention-develocity-shared/examples/maven_${{ matrix.versions.sample }}
        run: ./mvnw wrapper:wrapper -Dmaven=${{ matrix.versions.maven-version }} -Ddevelocity.scan.disabled
      - name: Verify example build
        id: build
        working-directory: convention-develocity-shared/examples/maven_${{ matrix.versions.sample }}
        run: ./mvnw clean verify "-Dscan.value.maven-version=${{ matrix.versions.maven-version }}"
        env:
          DEVELOCITY_ACCESS_KEY: ${{ secrets.DV_SOLUTIONS_ACCESS_KEY }}
      - name: Verify Build Scan published
        if: ${{ !steps.build.outputs.build-scan-url }}
        run: echo "::error ::No Build Scan published"; exit 1
