name: Verify Convention Develocity Shared (Nightly)
permissions:
  contents: read
  id-token: write
on:
  schedule:
    - cron: '0 4 * * *'
  push:
    paths:
      - ".github/workflows/convention-develocity-shared-verification-nightly.yml"
  workflow_dispatch:

jobs:
  build:
    name: Build Convention Develocity Shared
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Set up JDK 21
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@f29f5a9d7b09a7c6b29859002d29d24e1674c884 # v5
        with:
          gradle-version: 'release-candidate'
          develocity-injection-enabled: true
          develocity-url: 'https://ge.solutions-team.gradle.com'
          develocity-plugin-version: '4.2.1'
          develocity-access-key: ${{ secrets.DV_SOLUTIONS_ACCESS_KEY }}
      - name: Configure Develocity Solutions instance
        working-directory: convention-develocity-shared/convention-develocity-common/src/main/java/com/myorg
        run: sed -i 's/develocity-samples.gradle.com/ge.solutions-team.gradle.com/g' DevelocityConventions.java
      - name: Build with Gradle
        working-directory: convention-develocity-shared
        run: gradle build publishToMavenLocal
        env:
          DEVELOCITY_ACCESS_KEY: ${{ secrets.DV_SOLUTIONS_ACCESS_KEY }}
      - name: Upload convention
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: convention-develocity-shared
          path: ~/.m2/repository/com/myorg

  verification:
    name: Verify Example Build for Gradle ${{ matrix.gradle-version }}
    needs: [ build ]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        gradle-version: [ 'current', 'release-candidate', 'nightly' ]
        java-version: [ '21' ]
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Set up JDK ${{ matrix.java-version }}
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5
        with:
          java-version: '${{ matrix.java-version }}'
          distribution: 'temurin'
      - name: Set up Gradle ${{ matrix.gradle-version }}
        uses: gradle/actions/setup-gradle@f29f5a9d7b09a7c6b29859002d29d24e1674c884 # v5
        with:
          gradle-version: ${{ matrix.gradle-version }}
      - name: Download plugin
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7
        with:
          name: convention-develocity-shared
          path: ~/.m2/repository/com/myorg
      - name: Verify example build
        id: build
        working-directory: convention-develocity-shared/examples/gradle_6.9_and_later
        run: gradle build "-Dscan.value.gradle-version=${{ matrix.gradle-version }}" "-Dscan.value.java-version=${{ matrix.java-version }}"
        env:
          DEVELOCITY_ACCESS_KEY: ${{ secrets.DV_SOLUTIONS_ACCESS_KEY }}
      - name: Verify Build Scan published
        if: ${{ !steps.build.outputs.build-scan-url }}
        run: echo "::error ::No Build Scan published"; exit 1

  failure-notification:
    name: Matrix failure notification
    runs-on: ubuntu-latest
    needs:
      - build
      - verification
    if: failure()
    steps:
      - name: Get secrets
        uses: gradle/actions-internal/get-aws-secrets@a55c5e72b27c1af819746c6846f52114af102b2d # v1
        with:
          role-to-assume: arn:aws:iam::992382829881:role/GHASecrets_develocity-build-config-samples_all
          secret-ids: |
            DV_SOLUTIONS_SCHEDULED_WORKFLOWS_WEBHOOK_URL,gha/develocity-build-config-samples/_all/dv_solutions_scheduled_workflows_webhook_url
      - name: Report scheduled workflow failure
        uses: slackapi/slack-github-action@91efab103c0de0a537f72a35f6b8cda0ee76bf0a # v2.1.1
        with:
          webhook: ${{ env.DV_SOLUTIONS_SCHEDULED_WORKFLOWS_WEBHOOK_URL }}
          webhook-type: webhook-trigger
          payload-templated: true
          payload: |
            {
              "workflow_name": "DV Samples: Verify Convention Develocity Shared (Nightly)",
              "workflow_run_url": "${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
            }

