name: Verify Convention Develocity Maven Extension

permissions:
  contents: read

on:
  push:
    branches: [ main ]
    paths: [ 'convention-develocity-maven-extension/**', '.github/workflows/**' ]
  pull_request:
    branches: [ main ]
    paths: [ 'convention-develocity-maven-extension/**', '.github/workflows/**' ]
  workflow_dispatch:

jobs:
  build:
    name: Build Convention Develocity Maven Extension
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Set up JDK 21
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven
      - name: Set up Maven
        uses: gradle/develocity-actions/setup-maven@974e8dbcbda40db6828fc35f349c80a7c0e71529 # v2.1
      - name: Configure Develocity Solutions instance
        working-directory: convention-develocity-maven-extension/extension/src/main/java/com/myorg
        run: sed -i 's/develocity-samples.gradle.com/ge.solutions-team.gradle.com/g' ConventionDevelocityListener.java
      - name: Build with Maven
        working-directory: convention-develocity-maven-extension/extension
        run: ./mvnw clean install
      - name: Upload extension
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: convention-develocity-maven-extension
          path: ~/.m2/repository/com/myorg

  verification:
    name: Verify Example Build for Maven ${{ matrix.versions.version }}
    needs: [build]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        versions:
          - sample: '3'
            maven-version: '3.6.3'
          - sample: '3'
            maven-version: '3.8.8'
          - sample: '3'
            maven-version: '(Current)'
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Set up JDK 8
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5
        with:
          java-version: '8'
          distribution: 'temurin'
          cache: maven
      - name: Set up Maven
        uses: gradle/develocity-actions/setup-maven@974e8dbcbda40db6828fc35f349c80a7c0e71529 # v2.1
      - name: Download extension
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7
        with:
          name: convention-develocity-maven-extension
          path: ~/.m2/repository/com/myorg
      - name: Set Maven version
        if: ${{ matrix.versions.maven-version != '(Current)' }}
        working-directory: convention-develocity-maven-extension/examples/maven_${{ matrix.versions.sample }}
        run: ./mvnw wrapper:wrapper -Dmaven=${{ matrix.versions.maven-version }} -Ddevelocity.scan.disabled
      - name: Verify example build
        id: build
        working-directory: convention-develocity-maven-extension/examples/maven_${{ matrix.versions.sample }}
        run: ./mvnw clean verify "-Dscan.value.maven-version=${{ matrix.versions.maven-version }}"
        env:
          DEVELOCITY_ACCESS_KEY: ${{ secrets.DV_SOLUTIONS_ACCESS_KEY }}
      - name: Verify Build Scan published
        if: ${{ !steps.build.outputs.build-scan-url }}
        run: echo "::error ::No Build Scan published"; exit 1
