name: Verify Gradle Data Capturing Samples

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  verification:
    name: Verification of ${{ matrix.name }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - name: 'GE Gradle plugin version'
            sample-file: 'capture-ge-plugin-version/gradle-ge-plugin-version.gradle'
          - name: 'Git diffs'
            sample-file: 'capture-git-diffs/gradle-git-diffs.gradle'
          - name: 'OS processes'
            sample-file: 'capture-os-processes/gradle-os-processes.gradle'
          - name: 'Processor arch'
            sample-file: 'capture-processor-arch/gradle-processor-arch.gradle'
          - name: 'Quality checks'
            sample-file: 'capture-quality-check-issues/gradle-quality-check-issues.gradle'
          - name: 'Slow tasks'
            sample-file: 'capture-slow-workunit-executions/gradle-slow-task-executions.gradle'
          - name: 'Test task system properties'
            sample-file: 'capture-test-execution-system-properties/gradle-test-execution-system-properties.gradle'
          - name: 'Test PTS support'
            sample-file: 'capture-test-pts-support/gradle-test-pts-support.gradle'
          - name: 'Thermal throttling'
            sample-file: 'capture-thermal-throttling/gradle-thermal-throttling.gradle'
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Set up Gradle
        uses: gradle/gradle-build-action@v2
      - name: Inject data capture script into Gradle build using Groovy DSL
        working-directory: common-gradle-enterprise-gradle-configuration-groovy
        run: |
          # apply sample file
          echo "apply from: file(\"../build-data-capturing-gradle-samples/${{matrix.sample-file}}\")" >> build.gradle
      - name: Run Gradle build using Groovy DSL
        working-directory: common-gradle-enterprise-gradle-configuration-groovy
        run: ./gradlew tasks -Dgradle.enterprise.url=https://ge.solutions-team.gradle.com
        env:
          GRADLE_ENTERPRISE_ACCESS_KEY: ${{ secrets.GE_SOLUTIONS_ACCESS_TOKEN }}
      - name: Inject data capture script into Gradle build using Kotlin DSL
        working-directory: common-gradle-enterprise-gradle-configuration-kotlin
        run: |
          # apply sample file
          echo "apply(from = \"../build-data-capturing-gradle-samples/${{matrix.sample-file}}.kts\")" >> build.gradle.kts
      - name: Run Gradle build using Kotlin DSL
        working-directory: common-gradle-enterprise-gradle-configuration-kotlin
        run: ./gradlew tasks -Dgradle.enterprise.url=https://ge.solutions-team.gradle.com
        env:
          GRADLE_ENTERPRISE_ACCESS_KEY: ${{ secrets.GE_SOLUTIONS_ACCESS_TOKEN }}
