name: Verify Maven Build Caching Samples

permissions:
  contents: read

on:
  push:
    branches: [ main ]
    paths: [ 'build-caching-maven-samples/**', '.github/workflows/**' ]
  pull_request:
    branches: [ main ]
    paths: [ 'build-caching-maven-samples/**', '.github/workflows/**' ]
  workflow_dispatch:

env:
  PROJECT_DIR: build-caching-maven-samples
  GOALS: verify
  ARGS: -B -Ddevelocity.cache.failOnUnhandledParameters=true

jobs:
  verification:
    name: Verification
    runs-on: ubuntu-latest
    steps:
      - name: Set up JDK 21
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Set up Maven
        uses: gradle/develocity-actions/setup-maven@974e8dbcbda40db6828fc35f349c80a7c0e71529 # v2.1
        with:
          develocity-access-key: ${{ secrets.DV_SOLUTIONS_ACCESS_KEY }}
      - name: Setup Node.js and Npm
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: '24'
      - name: Set up Yarn
        run: npm install -g yarn
      - name: Download latest version of the Develocity Build Validation Scripts
        uses: gradle/develocity-build-validation-scripts/.github/actions/maven/download@actions-stable
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Run experiment 1
        uses: gradle/develocity-build-validation-scripts/.github/actions/maven/experiment-1@actions-stable
        with:
          gitRepo: ${{ github.server_url }}/${{ github.repository }}
          gitCommitId: ${{ github.sha }}
          projectDir: ${{ env.PROJECT_DIR }}
          goals: ${{ env.GOALS }}
          args: ${{ env.ARGS }}
          failIfNotFullyCacheable: true
      - name: Publish .data for experiment 1
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        if: failure()
        with:
          path: develocity-maven-build-validation/.data/01-validate-local-build-caching-same-location/latest/
          name: 01-validate-local-build-caching-same-location-data-dir
      - name: Run experiment 2
        uses: gradle/develocity-build-validation-scripts/.github/actions/maven/experiment-2@actions-stable
        with:
          gitRepo: ${{ github.server_url }}/${{ github.repository }}
          gitCommitId: ${{ github.sha }}
          projectDir: ${{ env.PROJECT_DIR }}
          goals: ${{ env.GOALS }}
          args: ${{ env.ARGS }}
          failIfNotFullyCacheable: true
      - name: Publish .data for experiment 2
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        if: failure()
        with:
          path: develocity-maven-build-validation/.data/02-validate-local-build-caching-different-locations/latest/
          name: 02-validate-local-build-caching-different-locations-data-dir
