name: Maven extension smoke test

on: [push]

jobs:

    verify-maven-samples:
        runs-on: ubuntu-latest
        env:
            LOG_MSG_EXTENSION_LOADED: "Build operation 'Gradle Enterprise mojo execution' completed"
            LOG_MSG_EXECUTION_FAILED: "Error executing a GradleEnterpriseListener callback"

        strategy:
            matrix:
                include:
                    - project-basedir: common-gradle-enterprise-maven-configuration
                      relative-path-to-sample-build-file: "default"
                    - project-basedir: common-custom-user-data-maven-extension
                      relative-path-to-sample-build-file: "default"
                    - project-basedir: common-custom-user-data-maven-extension
                      relative-path-to-sample-build-file: "capture-os-processes/maven-os-processes.groovy"
                    - project-basedir: common-custom-user-data-maven-extension
                      relative-path-to-sample-build-file: "capture-quality-check-issues/maven-quality-check-issues.groovy"
                    - project-basedir: common-custom-user-data-maven-extension
                      relative-path-to-sample-build-file: "capture-top-level-project/maven-top-level-project.groovy"
                    - project-basedir: common-custom-user-data-maven-extension
                      relative-path-to-sample-build-file: "capture-profiles/maven-profiles.groovy"

        steps:
            - name: Checkout
              uses: actions/checkout@v2
            - name: Set up JDK 11
              uses: actions/setup-java@v2
              with:
                  java-version: '11'
                  distribution: 'adopt'
            - name: Install current version of CCUD Maven extension
              run: |
                  mvn -f common-custom-user-data-maven-extension/pom.xml install -Dgradle.scan.disabled=true
            - name: Use current version of CCUD Maven extension in extension
              run: |
                  sudo apt-get install -y xmlstarlet
                  # fetching current project version
                  CURRENT_VERSION=$(mvn -f common-custom-user-data-maven-extension/pom.xml -Dexec.executable='echo' -Dexec.args='${project.version}' -Dgradle.scan.disabled=true exec:exec -q)
                  # inplace replacement of the snippet version (latest release) with current version (snapshot)
                  xmlstarlet edit --inplace --update "//extensions/extension[artifactId='common-custom-user-data-maven-extension']/version" --value $CURRENT_VERSION  ${{ matrix.project-basedir }}/.mvn/extensions.xml
            - name: Copy current sample
              run: |
                  # default uses the original gradle-enterprise-custom-user-data.groovy
                  if [[ ${{ matrix.relative-path-to-sample-build-file }} != "default" ]]; then
                      cp ${{ matrix.relative-path-to-sample-build-file }} ${{ matrix.project-basedir }}/.mvn/gradle-enterprise-custom-user-data.groovy
                  fi
            - name: Run Maven build using CCUD extension
              run: |
                  echo 'MAVEN_OUTPUT<<EOF' >> $GITHUB_ENV
                  mvn -f ${{ matrix.project-basedir }}/pom.xml -X --batch-mode clean validate -Dgradle.scan.disabled=true >> $GITHUB_ENV
                  echo 'EOF' >> $GITHUB_ENV
            - name: Validate extension loaded
              run: |
                  # Asserting that extension was loaded checking a log entry
                  echo $MAVEN_OUTPUT | grep "$LOG_MSG_EXTENSION_LOADED"
            - name: Validate extension executed
              run: |
                  # Asserting that extension was run successfully checking absence of an error log entry
                  echo $MAVEN_OUTPUT | grep -L "$LOG_MSG_EXECUTION_FAILED"
