name: 'Shellcheck'

on:
  push:
  pull_request:
    types: [synchronize]

jobs:
  shellcheck:
    name: Shellcheck
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Run shell checks 
      uses: luizm/action-sh-checker@v0.1.12
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SHELLCHECK_OPTS: -a -x
      with:
        sh_checker_comment: true
        sh_checker_exclude: "gradlew mvnw build-validation"
        sh_checker_shfmt_disable: true

